[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dapphub/ds-math"]
	path = lib/dapphub/ds-math
	url = https://github.com/dapphub/ds-math
